<div class="container-fluid no-pading">
	<div class="left-panel pull-left">
		<div class="header-panel"></div>  
		<div class="contact-panel">
			<div class="list-group">
  				<a class="list-group-item" ng-repeat="gr in groups" ng-click="selectGroup(gr)" ng-class="{'active':gr.active}">
              		<span class="badge" ng-hide="gr.unread == 0">{{gr.unread}}</span>
              		<span class="glyphicon glyphicon-th-list"></span>
              		{{gr.name}}
              	</a>
			</div>
		</div>
	</div>
	<div class="right-panel pull-right">
		<div class="header-panel">
			<div class="pull-left">{{group.name}}</div>
			<div class="pull-right">
				{{user.name}}
				<br />
				<div >
					<span class="glyphicon glyphicon-user" 
						ng-repeat="user in group.users" 
						tooltip-placement="bottom"
						tooltip="{{user.name}}">　</span>
					<span class="glyphicon glyphicon-plus" ng-click="addUserToGroup();"></span>
				</div>

			</div>
		</div>
		<div class="message-panel" scroll-glue>
			<ul class="list-group">
            	<li class="list-group-item" ng-repeat="msg in group.messages">
	              	<div class='pull-left nickname'>{{msg.from_user.name}}</div>
	              	<div class='pull-right msg-date'>{{msg.updated_at}}</div>
	              	<br />
	              	<pre>{{msg.content}}</pre>
            	</li>
          	</ul>
			<!-- <pre ng-repeat="msg in group.messages">{{msg.content}}</pre> -->
		</div>
		<div class="chat-panel">
			<textarea class="form-control" ng-model="inputMsg" ng-keyup="sendMsg($event);" placeholder="Enter your message here..."></textarea>
		</div>
	</div>
</div>

<!-- Add user to group modal -->
<script type="text/ng-template" id="addUserToGroup.html">
    <div class="modal-header">
        <h3 class="modal-title">Users</h3>
    </div>
    <div class="modal-body">
    	<div class="pull-left">
    		<h2>Users list</h2>
    		<ul class="list-group">
            	<li class="list-group-item" ng-repeat="user in users">
	              	{{user.name}} ({{user.email}})
            	</li>
          	</ul>
    	</div>
    	<div class="pull-right">
    	<h2>Groups Users</h2>
    		<ul class="list-group">
            	<li class="list-group-item" ng-repeat="user in group.users">
	              	{{user.name}} ({{user.email}})
            	</li>
          	</ul>
    	</div>
  //   	<ul>
		// <li ng-repeat="item in items">
		// 	<a ng-click="selected.item = item">{{ item }}</a>
		// </li>
	// </ul>
	Selected: <b>{{ selected.item }}</b>    
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>