<!-- <div class='main-panel'> -->
      <div class='left-panel'>
        <div class='header-panel center-text'>
          <b>Messager</b>
        </div>
        <div class='contact-panel'>
          <div class="list-group">
            <a ng-click="selectGroup(group)" class="list-group-item"
              ng-class="{'active':group.active}" ng-repeat="group in groups">
              <span class="badge">{{group.unread}}</span>{{group.name}}</a>
          </div>
        </div>
      </div>
      <div class='right-panel'>
        <div class='header-panel center-text'>header panel</div>
        <div class='chat-content'>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="msg in messages">
              <div class='div-left nickname'>{{msg.from_user.name}}</div>
              <div class='div-right msg-date'>{{msg.updated_at}}</div>
              <br/>
              <div>{{msg.content}}</div>
            </li>
          </ul>
        </div>
        <div class='input-panel'>
            <div style="height:30px">Input message header</div>
            <textarea style="height:70px" class="form-control" ng-model="inputMsg" 
              ng-keyup="sendMsg($event);" placeholder="Enter your message here..."></textarea>
            <!-- <input type="text" class="form-control" ng-model="inputMsg" ng-keyup="$event.keyCode == 13 ? sendMsg() : null"> -->
        </div>
      </div>
    <!-- </div> -->